<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Custom properties step progress indicator</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial -->
<ol style="--length: 5" role="list">
	
	


     <!-- HTML !-->
	 <a href="404">
<button class="button-87" role="button">العـــودة</button>
</a>





	<li style="--i: 1">
		<a href=""><h3>دورة الاعلام الألي المكتبي</h3></a>
		<p>دورة الاعلام الألي المكتبي تهدف لتعليم المشاركين استخدام الحواسيب وبرامج الأوفيس بشكل فعّال في بيئة العمل. تشمل المواضيع الأساسية مقدمة في التكنولوجيا، استخدام برامج الأوفيس، إدارة الملفات، الاتصال عبر الإنترنت، الأمان والخصوصية، ومهارات العمل الجماعي. الهدف من الدورة هو زيادة إنتاجية المشاركين وكفاءتهم في استخدام التكنولوجيا في البيئة المكتبية.</p>
	</li>
	<li style="--i: 2">
		<h3>دورة السيكريتاريا</h3>
		<p>دورة السكرتارية تهدف لتعليم المشاركين مهارات إدارة المكاتب بشكل فعّال، بما في ذلك التواصل، وإدارة المواعيد، والتنظيم الإداري، واستخدام التكنولوجيا، والسلوك المهني.</p>
	</li>
	<li style="--i: 3">
		<h3>دورة تسيير الموارد البشرية</h3>
		<p>دورة تسيير الموارد البشرية تهدف لتعليم المشاركين مهارات إدارة وتنظيم الموارد البشرية في البيئة العملية، بما في ذلك التوظيف، والتدريب، وإدارة الأداء، والعلاقات العمالية، وإدارة المكافآت.</p>
	</li>
	<li style="--i: 4">
		<h3>دورة تسيير المخزون</h3>
		<p>دورة تسيير المخزون تهدف لتعليم المشاركين كيفية إدارة المواد بشكل فعّال، بما في ذلك التحليل، والتحكم، وتحسين العمليات، واستخدام التكنولوجيا المناسبة.</p>
	</li>
	<li style="--i: 5">
		<h3>محاسبة تطبيقية</h3>
		<p>دورة محاسبة تطبيقية تهدف لتعليم المشاركين كيفية تطبيق المبادئ المحاسبية في الواقع العملي، من خلال تحليل البيانات المالية، إعداد التقارير، استخدام برامج المحاسبة، وتطبيقات عملية للمفاهيم المحاسبية.</p>
	</li>

<li style="--i: 6">
	<h3>عون حفظ البيانات</h3>
	<p>دورة "عون حفظ البيانات" تُعنى بتعليم المشاركين كيفية تنظيم وحفظ البيانات بشكل آمن وفعّال</p>
</li>
<li style="--i: 7">
	<h3>دورة بائع صيدلي</h3>
	<p></p>	
</li>

<li style="--i: 8">
	<h3>دورة مسير صيدلية</h3>
	<p>دورة "مسير صيدلية" تهدف لتعليم المشاركين كيفية إدارة صيدلية بشكل فعّال ومنظّم</p>
</li>

<li style="--i: 9">
	<h3>دورة مساعد طبي</h3>
	<p>هدف الدورة هو تأهيل المشاركين للعمل كمساعد طبي مؤهل، وتوفير الدعم اللازم لفريق الرعاية الصحية لضمان تقديم خدمات صحية عالية الجودة.</p>
</li>

<li style="--i: 10">
	<h3>دورة مساعد مخبري</h3>
	<p></p>
</li>

<li style="--i: 11">
	<h3>دورة الاسعافات الأولية</h3>
	<p></p>
</li>

<li style="--i: 11">
	<h3>دورة الاسعافات الأولية</h3>
	<p></p>
	</li>
<li style="--i: 11">
	<h3>دورة الاسعافات الأولية</h3>
	<p></p>
	</li>

<li style="--i: 11">
	<h3>دورة الاسعافات الأولية</h3>
	<p></p>
</li>

<li style="--i: 11">
	<h3>دورة الاسعافات الأولية</h3>
    <p></p>	
</li>

<li style="--i: 11">
	<h3>دورة الاسعافات الأولية</h3>
	<p></p>
</li>

<li style="--i: 11">
	<h3>دورة الاسعافات الأولية</h3>
	<p></p>
</li>

<li style="--i: 11">
	<h3>دورة الاسعافات الأولية</h3>
	<p></p>
</li>

<li style="--i: 11">
	<h3>دورة الاسعافات الأولية</h3>
	<p></p>
</li>

<li style="--i: 11">
	<h3>دورة الاسعافات الأولية</h3>
	<p></p>
</li>

<li style="--i: 11">
	<h3>دورة الاسعافات الأولية</h3>
	<p></p>
</li>

<li style="--i: 11">
	<h3>دورة الاسعافات الأولية</h3>
	<p></p>
</li>

<li style="--i: 11">
	<h3>دورة الاسعافات الأولية</h3>
	<p></p>
</li>

<li style="--i: 11">
	<h3>دورة الاسعافات الأولية</h3>
	<p></p>
</li>

<li style="--i: 11">
	<h3>دورة الاسعافات الأولية</h3>
	<p></p>
</li>


</ol>
<!-- partial -->
  
</body>
</html>
